# 라이브러리

In [2]:
import os

import pandas as pd

# 파일 불러오기

In [3]:
DATA_PATH = "./data/register_car/"
EXCEL_LIST = os.listdir(DATA_PATH)

EXCEL_LIST

['자동차등록현황보고_자동차등록대수현황 시도별 202505.xlsx', '자동차등록현황보고_자동차등록대수현황 시도별 202506.xlsx']

# 데이터 프레임으로 확인

In [4]:
df = pd.read_excel(DATA_PATH + EXCEL_LIST[0])

df

c:\khs\github\SKNW10-1st_project\.venv\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,자동차등록현황보고(Total Registered Motor Vehicles) / 자동차등록대수현황 시도별 (201101 ~ 202506),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,다운로드 시간 : 2025-08-01 09:56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,검색기간 : 202505 ~ 202505,검색분야 : 종합일반,작성주기 : 매월,단위 : 대,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,월(Monthly),시도명,시군구,승용,승용,승용,승용,승합,승합,승합,...,화물,화물,특수,특수,특수,특수,총계,총계,총계,총계
4,월(Monthly),시도명,시군구,관용,자가용,영업용,계,관용,자가용,영업용,...,영업용,계,관용,자가용,영업용,계,관용,자가용,영업용,계
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
272,2025-05,전북,전주시 덕진구,158,"151,019","3,074","154,251",103,"3,260",933,...,"2,614","21,650",14,571,403,988,427,"173,734","7,024","181,185"
273,2025-05,전북,전주시 완산구,342,"136,966","2,005","139,313",227,"2,928",539,...,"1,532","17,502",23,359,252,634,803,"156,012","4,328","161,143"
274,2025-05,전북,정읍시,107,"41,491","1,510","43,108",111,"1,490",198,...,895,"15,947",8,254,122,384,388,"58,125","2,725","61,238"
275,2025-05,전북,진안군,110,"9,817",91,"10,018",53,399,95,...,107,"5,272",15,58,16,89,289,"15,328",309,"15,926"
276,2025-05,전북,계,"1,995","762,206","12,340","776,541","1,378","22,413","3,890",...,"16,558","194,046",211,"3,373","2,582","6,166","5,904","963,160","35,370","1,004,434"

In [4]:
# 시도_1
list(df.iloc[:, 1].unique())[3:]

['서울',
 '부산',
 '대구',
 '인천',
 '광주',
 '대전',
 '울산',
 '세종',
 '경기',
 '충북',
 '충남',
 '전남',
 '경북',
 '경남',
 '제주',
 '강원',
 '전북']

In [5]:
# 시도_2
list(df.iloc[:, 1])[5:]

['서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '서울',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '부산',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '대구',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '인천',
 '광주',
 '광주',
 '광주',
 '광주',
 '광주',
 '광주',
 '대전',
 '대전',
 '대전',
 '대전',
 '대전',
 '대전',
 '울산',
 '울산',
 '울산',
 '울산',
 '울산',
 '울산',
 '세종',
 '세종',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '경기',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충북',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '충남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '전남',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경북',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '경남',
 '제주',
 '제주',
 '제주',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '강원',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북',
 '전북']

In [6]:
# 시군구
list(df.iloc[:, 2].unique())[3:]

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구',
 '계',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '해운대구',
 '군위군',
 '달서구',
 '달성군',
 '수성구',
 '강화군',
 '계양구',
 '남동구',
 '미추홀구',
 '부평구',
 '연수구',
 '옹진군',
 '광산구',
 '대덕구',
 '유성구',
 '울주군',
 '세종특별자치시',
 '가평군',
 '고양시 덕양구',
 '고양시 일산동구',
 '고양시 일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '부천시 소사구',
 '부천시 오정구',
 '부천시 원미구',
 '성남시 분당구',
 '성남시 수정구',
 '성남시 중원구',
 '수원시 권선구',
 '수원시 영통구',
 '수원시 장안구',
 '수원시 팔달구',
 '시흥시',
 '안산시 단원구',
 '안산시 상록구',
 '안성시',
 '안양시 동안구',
 '안양시 만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '용인시 기흥구',
 '용인시 수지구',
 '용인시 처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시',
 '괴산군',
 '단양군',
 '보은군',
 '영동군',
 '옥천군',
 '음성군',
 '제천시',
 '증평군',
 '진천군',
 '청원군',
 '청주시 상당구',
 '청주시 서원구',
 '청주시 청원구',
 '청주시 흥덕구',
 '충주시',
 '계룡시',
 '공주시',
 '금산군',
 '논산시',
 '당진시',
 '보령시',
 '부여군',
 '서산시',
 '서천군',
 '아산시',
 '예산군',
 '천안시 동남구',
 '천안시 서북구',
 '청양군',
 '태안군',
 '홍성군',
 '강진군',
 '고흥군',
 '곡성군',
 '광양시',
 '구례군',
 '나주시',
 '담양군',
 '목포시',
 '무안군',
 '보성군',
 '순천시',
 '신안군',
 '여수시',
 '영광군',
 '영암군',
 '완도군',
 '장성군',
 '장흥군',
 '진도군',
 '함평군',
 '해남군',
 '화순군',
 '경산시',
 '경주시',
 '고령군',
 '구미시',
 '김천시',
 '문경시',
 '봉화군',
 '상주시',
 '성주군',
 '안동시',
 '영덕군',
 '영양군',
 '영주시',
 '영천시',
 '예천군',
 '울릉군',
 '울진군',
 '의성군',
 '청도군',
 '청송군',
 '칠곡군',
 '포항시 남구',
 '포항시 북구',
 '거제시',
 '거창군',
 '고성군',
 '김해시',
 '남해군',
 '밀양시',
 '사천시',
 '산청군',
 '양산시',
 '의령군',
 '진주시',
 '창녕군',
 '창원시 마산합포구',
 '창원시 마산회원구',
 '창원시 성산구',
 '창원시 의창구',
 '창원시 진해구',
 '통영시',
 '하동군',
 '함안군',
 '함양군',
 '합천군',
 '서귀포시',
 '제주시',
 '강릉시',
 '동해시',
 '삼척시',
 '속초시',
 '양구군',
 '양양군',
 '영월군',
 '원주시',
 '인제군',
 '정선군',
 '철원군',
 '춘천시',
 '태백시',
 '평창군',
 '홍천군',
 '화천군',
 '횡성군',
 '고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시 덕진구',
 '전주시 완산구',
 '정읍시',
 '진안군']

In [7]:
list(df.iloc[:, 2])[5:]

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구',
 '계',
 '강서구',
 '금정구',
 '기장군',
 '남구',
 '동구',
 '동래구',
 '부산진구',
 '북구',
 '사상구',
 '사하구',
 '서구',
 '수영구',
 '연제구',
 '영도구',
 '중구',
 '해운대구',
 '계',
 '군위군',
 '남구',
 '달서구',
 '달성군',
 '동구',
 '북구',
 '서구',
 '수성구',
 '중구',
 '계',
 '강화군',
 '계양구',
 '남동구',
 '동구',
 '미추홀구',
 '부평구',
 '서구',
 '연수구',
 '옹진군',
 '중구',
 '계',
 '광산구',
 '남구',
 '동구',
 '북구',
 '서구',
 '계',
 '대덕구',
 '동구',
 '서구',
 '유성구',
 '중구',
 '계',
 '남구',
 '동구',
 '북구',
 '울주군',
 '중구',
 '계',
 '세종특별자치시',
 '계',
 '가평군',
 '고양시 덕양구',
 '고양시 일산동구',
 '고양시 일산서구',
 '과천시',
 '광명시',
 '광주시',
 '구리시',
 '군포시',
 '김포시',
 '남양주시',
 '동두천시',
 '부천시',
 '부천시 소사구',
 '부천시 오정구',
 '부천시 원미구',
 '성남시 분당구',
 '성남시 수정구',
 '성남시 중원구',
 '수원시 권선구',
 '수원시 영통구',
 '수원시 장안구',
 '수원시 팔달구',
 '시흥시',
 '안산시 단원구',
 '안산시 상록구',
 '안성시',
 '안양시 동안구',
 '안양시 만안구',
 '양주시',
 '양평군',
 '여주시',
 '연천군',
 '오산시',
 '용인시 기흥구',
 '용인시 수지구',
 '용인시 처인구',
 '의왕시',
 '의정부시',
 '이천시',
 '파주시',
 '평택시',
 '포천시',
 '하남시',
 '화성시',
 '계',
 '괴산군',
 '단양군',
 '보은군',
 '영동군',
 '옥천군',
 '음성군',
 '제천시',
 '증평군',
 '진천군',
 '청원군',
 '청주시 상당구',
 '청주시 서원구',
 '청주시 청원구',
 '청주시 흥덕구',
 '충주시',
 '계',
 '계룡시',
 '공주시',
 '금산군',
 '논산시',
 '당진시',
 '보령시',
 '부여군',
 '서산시',
 '서천군',
 '아산시',
 '예산군',
 '천안시 동남구',
 '천안시 서북구',
 '청양군',
 '태안군',
 '홍성군',
 '계',
 '강진군',
 '고흥군',
 '곡성군',
 '광양시',
 '구례군',
 '나주시',
 '담양군',
 '목포시',
 '무안군',
 '보성군',
 '순천시',
 '신안군',
 '여수시',
 '영광군',
 '영암군',
 '완도군',
 '장성군',
 '장흥군',
 '진도군',
 '함평군',
 '해남군',
 '화순군',
 '계',
 '경산시',
 '경주시',
 '고령군',
 '구미시',
 '군위군',
 '김천시',
 '문경시',
 '봉화군',
 '상주시',
 '성주군',
 '안동시',
 '영덕군',
 '영양군',
 '영주시',
 '영천시',
 '예천군',
 '울릉군',
 '울진군',
 '의성군',
 '청도군',
 '청송군',
 '칠곡군',
 '포항시 남구',
 '포항시 북구',
 '계',
 '거제시',
 '거창군',
 '고성군',
 '김해시',
 '남해군',
 '밀양시',
 '사천시',
 '산청군',
 '양산시',
 '의령군',
 '진주시',
 '창녕군',
 '창원시 마산합포구',
 '창원시 마산회원구',
 '창원시 성산구',
 '창원시 의창구',
 '창원시 진해구',
 '통영시',
 '하동군',
 '함안군',
 '함양군',
 '합천군',
 '계',
 '서귀포시',
 '제주시',
 '계',
 '강릉시',
 '고성군',
 '동해시',
 '삼척시',
 '속초시',
 '양구군',
 '양양군',
 '영월군',
 '원주시',
 '인제군',
 '정선군',
 '철원군',
 '춘천시',
 '태백시',
 '평창군',
 '홍천군',
 '화천군',
 '횡성군',
 '계',
 '고창군',
 '군산시',
 '김제시',
 '남원시',
 '무주군',
 '부안군',
 '순창군',
 '완주군',
 '익산시',
 '임실군',
 '장수군',
 '전주시 덕진구',
 '전주시 완산구',
 '정읍시',
 '진안군',
 '계']

In [8]:
# 시도 시군구
list(df.iloc[:, 1] + " " + df.iloc[:, 2])[5:]

['서울 강남구',
 '서울 강동구',
 '서울 강북구',
 '서울 강서구',
 '서울 관악구',
 '서울 광진구',
 '서울 구로구',
 '서울 금천구',
 '서울 노원구',
 '서울 도봉구',
 '서울 동대문구',
 '서울 동작구',
 '서울 마포구',
 '서울 서대문구',
 '서울 서초구',
 '서울 성동구',
 '서울 성북구',
 '서울 송파구',
 '서울 양천구',
 '서울 영등포구',
 '서울 용산구',
 '서울 은평구',
 '서울 종로구',
 '서울 중구',
 '서울 중랑구',
 '서울 계',
 '부산 강서구',
 '부산 금정구',
 '부산 기장군',
 '부산 남구',
 '부산 동구',
 '부산 동래구',
 '부산 부산진구',
 '부산 북구',
 '부산 사상구',
 '부산 사하구',
 '부산 서구',
 '부산 수영구',
 '부산 연제구',
 '부산 영도구',
 '부산 중구',
 '부산 해운대구',
 '부산 계',
 '대구 군위군',
 '대구 남구',
 '대구 달서구',
 '대구 달성군',
 '대구 동구',
 '대구 북구',
 '대구 서구',
 '대구 수성구',
 '대구 중구',
 '대구 계',
 '인천 강화군',
 '인천 계양구',
 '인천 남동구',
 '인천 동구',
 '인천 미추홀구',
 '인천 부평구',
 '인천 서구',
 '인천 연수구',
 '인천 옹진군',
 '인천 중구',
 '인천 계',
 '광주 광산구',
 '광주 남구',
 '광주 동구',
 '광주 북구',
 '광주 서구',
 '광주 계',
 '대전 대덕구',
 '대전 동구',
 '대전 서구',
 '대전 유성구',
 '대전 중구',
 '대전 계',
 '울산 남구',
 '울산 동구',
 '울산 북구',
 '울산 울주군',
 '울산 중구',
 '울산 계',
 '세종 세종특별자치시',
 '세종 계',
 '경기 가평군',
 '경기 고양시 덕양구',
 '경기 고양시 일산동구',
 '경기 고양시 일산서구',
 '경기 과천시',
 '경기 광명시',
 '경기 광주시',
 '경기 구리시',
 '경기 군포시',
 '경기 김포시',
 '경기 남양주시',
 '경기 동두천시',
 '경기 부천시',
 '경기 부천시 소사구',
 '경기 부천시 오정구',
 '경기 부천시 원미구',
 '경기 성남시 분당구',
 '경기 성남시 수정구',
 '경기 성남시 중원구',
 '경기 수원시 권선구',
 '경기 수원시 영통구',
 '경기 수원시 장안구',
 '경기 수원시 팔달구',
 '경기 시흥시',
 '경기 안산시 단원구',
 '경기 안산시 상록구',
 '경기 안성시',
 '경기 안양시 동안구',
 '경기 안양시 만안구',
 '경기 양주시',
 '경기 양평군',
 '경기 여주시',
 '경기 연천군',
 '경기 오산시',
 '경기 용인시 기흥구',
 '경기 용인시 수지구',
 '경기 용인시 처인구',
 '경기 의왕시',
 '경기 의정부시',
 '경기 이천시',
 '경기 파주시',
 '경기 평택시',
 '경기 포천시',
 '경기 하남시',
 '경기 화성시',
 '경기 계',
 '충북 괴산군',
 '충북 단양군',
 '충북 보은군',
 '충북 영동군',
 '충북 옥천군',
 '충북 음성군',
 '충북 제천시',
 '충북 증평군',
 '충북 진천군',
 '충북 청원군',
 '충북 청주시 상당구',
 '충북 청주시 서원구',
 '충북 청주시 청원구',
 '충북 청주시 흥덕구',
 '충북 충주시',
 '충북 계',
 '충남 계룡시',
 '충남 공주시',
 '충남 금산군',
 '충남 논산시',
 '충남 당진시',
 '충남 보령시',
 '충남 부여군',
 '충남 서산시',
 '충남 서천군',
 '충남 아산시',
 '충남 예산군',
 '충남 천안시 동남구',
 '충남 천안시 서북구',
 '충남 청양군',
 '충남 태안군',
 '충남 홍성군',
 '충남 계',
 '전남 강진군',
 '전남 고흥군',
 '전남 곡성군',
 '전남 광양시',
 '전남 구례군',
 '전남 나주시',
 '전남 담양군',
 '전남 목포시',
 '전남 무안군',
 '전남 보성군',
 '전남 순천시',
 '전남 신안군',
 '전남 여수시',
 '전남 영광군',
 '전남 영암군',
 '전남 완도군',
 '전남 장성군',
 '전남 장흥군',
 '전남 진도군',
 '전남 함평군',
 '전남 해남군',
 '전남 화순군',
 '전남 계',
 '경북 경산시',
 '경북 경주시',
 '경북 고령군',
 '경북 구미시',
 '경북 군위군',
 '경북 김천시',
 '경북 문경시',
 '경북 봉화군',
 '경북 상주시',
 '경북 성주군',
 '경북 안동시',
 '경북 영덕군',
 '경북 영양군',
 '경북 영주시',
 '경북 영천시',
 '경북 예천군',
 '경북 울릉군',
 '경북 울진군',
 '경북 의성군',
 '경북 청도군',
 '경북 청송군',
 '경북 칠곡군',
 '경북 포항시 남구',
 '경북 포항시 북구',
 '경북 계',
 '경남 거제시',
 '경남 거창군',
 '경남 고성군',
 '경남 김해시',
 '경남 남해군',
 '경남 밀양시',
 '경남 사천시',
 '경남 산청군',
 '경남 양산시',
 '경남 의령군',
 '경남 진주시',
 '경남 창녕군',
 '경남 창원시 마산합포구',
 '경남 창원시 마산회원구',
 '경남 창원시 성산구',
 '경남 창원시 의창구',
 '경남 창원시 진해구',
 '경남 통영시',
 '경남 하동군',
 '경남 함안군',
 '경남 함양군',
 '경남 합천군',
 '경남 계',
 '제주 서귀포시',
 '제주 제주시',
 '제주 계',
 '강원 강릉시',
 '강원 고성군',
 '강원 동해시',
 '강원 삼척시',
 '강원 속초시',
 '강원 양구군',
 '강원 양양군',
 '강원 영월군',
 '강원 원주시',
 '강원 인제군',
 '강원 정선군',
 '강원 철원군',
 '강원 춘천시',
 '강원 태백시',
 '강원 평창군',
 '강원 홍천군',
 '강원 화천군',
 '강원 횡성군',
 '강원 계',
 '전북 고창군',
 '전북 군산시',
 '전북 김제시',
 '전북 남원시',
 '전북 무주군',
 '전북 부안군',
 '전북 순창군',
 '전북 완주군',
 '전북 익산시',
 '전북 임실군',
 '전북 장수군',
 '전북 전주시 덕진구',
 '전북 전주시 완산구',
 '전북 정읍시',
 '전북 진안군',
 '전북 계']

In [9]:
# 차종, 용도
## 차종
print(list(df.iloc[3, :].unique())[3:])

## 용도
print(list(df.iloc[4, :].unique())[3:])

['승용', '승합', '화물', '특수', '총계']
['관용', '자가용', '영업용', '계']

In [10]:
columns = ["시도", "시군구", "차종", "용도"]

sido = list(df.iloc[:, 1])[5:]
sigungu = list(df.iloc[:, 2])[5:]
car_type = list(df.iloc[3, :].unique())[3:]
car_purpose = list(df.iloc[4, :].unique())[3:]

In [11]:
df = pd.DataFrame(
    {
        columns[0]: sido,
        columns[1]: sigungu,
    }
)

df.head()

   시도  시군구
0  서울  강남구
1  서울  강동구
2  서울  강북구
3  서울  강서구
4  서울  관악구

In [ ]:
# car_register_meta table
for _, v in df.iterrows():
    for type in car_type:
        for purpose in car_purpose:
            text = list(v.values)
            text.append(type)
            text.append(purpose)
            print(text)
            break
        break
    break

['서울', '강남구', '승용', '관용']

In [13]:
pd.DataFrame([['a','b','c'], ['x','y','z']])

   0  1  2
0  a  b  c
1  x  y  z

In [ ]:
test_list = []
test_list.append(['a','b','c'])
test_list.append(['d','e','f'])
print(test_list)

[['a', 'b', 'c'], ['d', 'e', 'f']]

In [16]:
pd.DataFrame(test_list)

   0  1  2
0  a  b  c
1  d  e  f